body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA1A23;
}
.loader {
    border: 8px solid #fff;
    border-radius: 50%;
    border-top: 8px solid #003A90;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}